.lead__subtitle{
    margin-top: 32px;
    max-width: 640px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    font-style: normal;
    }
  
  @media screen and (max-width: 320px){
    .lead__subtitle{
      max-width: calc(100% - 2 * 16px);
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }  