.lead__caption{
  margin-top: 8px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  align-self: start;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px){
  .lead__caption{
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px){
  .lead__caption{
    margin-left: 16px;
  }
}